@import '../../node_modules/bootstrap/dist/css/bootstrap.css'
@import '../../node_modules/react-json-inspector/json-inspector.css'

/*
 * INHALT
 *
 * 1. GRUNDSTRUKTUR
 *
 * 2. MENU
 *    tree
 * 
 * 3. FORMS
 *    allgemein / querbeet
 *    symbols
 *    exportieren
 *    importieren
 *
 * 4. TOOLS/QUERBEET
 * 
 */





/*--------------------------------*\
    1. #GRUNDSTRUKTUR
\*--------------------------------*/

body
  padding: 8px 8px 8px 7px !important
  /* Silbentrennung einschalten */
  hyphens: auto


/* über 1000px nebeneinander
 * force-mobile: damit kann die Mobil-Sicht manuell gewählt werden
 * can't move this to modules because it needs to check body
 */
@media screen and (min-width: 1001px)

  body:not(.force-mobile) #menu
    width: 383px !important
    position: fixed !important
    max-height: calc(100vh - 15px) !important

  body:not(.force-mobile) #main
    // nach rechts schieben
    transform: translate(391px, 0) !important
    // Breite berechnen
    width: calc(100% - 391px) !important

  body:not(.force-mobile) #tree
    max-height: calc(100vh - 169px) !important
  


/*--------------------------------*\
    2. #MENU
       #tree
\*--------------------------------*/

// can't move this to module because
// divs .progress and .progress-bar
// are created by bootstrap
#menu .progress
 margin-top: 3px
 margin-bottom: 0
#menu .progress-bar
 text-align: left
 padding-left: 6px



/*--------------------------------*\
    3. #FORMS
       allgemein / querbeet
\*--------------------------------*/

/**
 * this is to make modals behave when they are contained
 * inside another element
 */
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}


.popover-title
  background: linear-gradient(180deg, #FDEEC1, #FFECB5)



[role="tooltip"]
  max-width: 1000px

[role="tooltip"] p:last-of-type
  margin-bottom: 0

.panel-body .alert
  margin-bottom: 5px

.panel-group
  margin-bottom: 0
  margin-top: 5px

.panel
  margin-bottom: 2px

.panel-heading
  padding-top:    10px
  padding-bottom: 10px
  border: none

.panel-heading a
  font-size: 17px
  color: #944600
  font-weight: bold

.panel-heading h4.panel-title
  font-size: 17px
  color: #944600
  font-weight: bold
  padding-left:   0
  padding-top:    3px
  padding-bottom: 3px
  margin-bottom:  0

/* Gradient, um die panels zu stylen */
.panel-heading
  background: linear-gradient(180deg, #FBFBD3, #FFFFE6)

.panel-body
  background-color: #FFFFF0
  border-top: 1px solid #e5e5e5

.panel-body hr
  margin: 11px 0

input[readonly], textarea[readonly]
  background-color: #FFFFF9 !important
  cursor: not-allowed

#main .form-group:not(.has-error) label,
#importDs .form-group:not(.has-error) label,
#importBs .form-group:not(.has-error) label,
#export .form-group:not(.has-error) label
  color: #555555

#main label,
#importDs label,
#importBs label,
#export .form-group label
  // bootstrap.css macht font-weight bold
  font-weight: normal
  // ...und font-size 12px
  font-size: 14px
  margin-bottom: 1px
  // Trennung ermöglichen
  hyphens: auto

#main .checkboxFormGroup label
  padding-top 4px
// when form is not horizontal
// label is on the right
// it needs a margin
form:not(form-horizontal) .checkboxFormGroup .checkboxDiv
  margin-right 7px
.form-horizontal #object label,
.form-horizontal #importieren label,
.form-horizontal .exportFields .form-group label
  width: 200px
  margin-right: 7px
  margin-left: 7px
  // vertikalen Abstand vermindern, wenn der Text des Labels umgebrochen ist
  margin-bottom: 0
  text-align: right

a
  color: #016ca2

a:hover
  text-decoration: underline

a.showNextHidden,
a.showNextHiddenExport
  font-style: italic

/*VORLÄUFIG KONTEN ERSTELLEN AUSBLENDEN*/
.kontoErstellenBtn
  display: none !important

h1, h2, h3, h4, h5, h6
  // wird von bootstrap auf 500 gesetzt, was nicht fett ist
  font-weight: bold !important

h5 a
  font-weight: normal !important

h5
  font-size: 15px

#art legend,
#importDs legend,
#importBs legend,
#export legend
  color: #6F6F66
  font-weight: bold
  margin: 0 0 7px 0

.form-horizontal .form-group,
form.form-horizontal .checkboxFormGroup
  // bootstrap gives -15px side margin, correct this
  margin-right 0
  margin-left 0
.form-horizontal > div:not(#organisationen) .form-group,
form.form-horizontal > div:not(#organisationen) .checkboxFormGroup
  display flex
  flex-direction: row
// when form is not horizontal
// label needs to be on the right
.checkboxFormGroup
  display flex
  flex-direction: row-reverse
  justify-content: flex-end
.form-horizontal > div:not(#organisationen) .form-group label
  width 200px
.form-horizontal > div:not(#organisationen) .form-group .form-control,
.form-horizontal > div:not(#organisationen) .form-group .form-control-static
  width 100%
.form-horizontal > div:not(#organisationen) .form-group .checkboxDiv
  width 100%

.tabelle
  overflow:   auto
  overflow-y: hidden

.table
  margin-bottom: 0

.modal-backdrop
  /* bootstrap macht schwarz, das ist hässlich */
  opacity: 0.8

.btn-group [disabled]
  /* bootstrap macht 0.85, das ist nur schwer sichtbar */
  opacity: 0.5

/* ausrichten wie die Felder */
.form-horizontal .form-actions
  padding-left: 190px

/* Titel für Eigenschaften und Beziehungen stylen */
.form h4
  padding-left: 15px
  margin-bottom: 3px
  color: #424242
  font-size: 18px
  font-weight: bold

.form > h4
  margin-top: 10px

.formContent > h4
  margin-top: 3px

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
  color: #424242

.form
  margin-left: auto

/* vertikalen Abstand zwischen Feldern verkleinern */
#main .form-group,
#importDs .form-group,
#importBs .form-group,
#export .form-group
  margin-bottom: 5px
  break-inside: avoid

.input-group > .input-group-addon
  padding: 0
  border: none

.input-group-xs .input-group-addon
  /* aus unbekanntem Grund stimmt die Höhe nicht */
  height: 20px

option
  white-space: pre

.modal-header
  padding: 5px 20px 5px 20px

.modal-footer
  padding: 10px 15px 10px 15px

.alert
  margin-bottom: 0

/* Bootstrap übersteuern */
.form-actions
  background-color: transparent
  border-top: none
  margin-top:    0
  margin-bottom: 0
  padding: 5px 20px 0

.well.well-sm
  background-color: #FFFFF0
  padding: 9px
  margin-bottom: 10px





/*--------------------------------*\
    3. #FORMS
       #symbols
\*--------------------------------*/

/**
 * can't remove this
 * because it applies on divs created
 * on the fly by bootstrap
 */
#symbols .dropdown-menu
  margin-top: -10px
  min-width: 0

#symbols .dropdown:focus
  outline: none




/*--------------------------------*\
    3. #FORMS
       #exportieren
\*--------------------------------*/

.collectionPanel .panel-body
  padding: 0

.collectionPanel [role='tablist']
  margin-top: 0
  
.collectionPanel .panel
  border-radius: 0
  border: none
  border-bottom: 1px solid #ddd

// top panel with top border if something is between body and panel
.collectionPanel .panel-body [role='tablist'] .panel:first-of-type
  border-top: 1px solid #ddd

// top panel without top border if it is directly under boda
.collectionPanel .panel-body [role='tablist']:first-child .panel:first-of-type
  border-top: none

.collectionPanel .panel:last-of-type
  border: none

.collectionPanel .panel + .panel
  margin-top: 0

.collectionPanel .panel-body .panel-heading
  padding: 5px 15px
  background: linear-gradient(180deg, #FEEFCC, #FFF4DB)

.collectionPanel .panel-body .panel-heading h4 a
  font-size: 15px

.collectionPanel .form-group
  margin-bottom: 0

.collectionPanel .panel-body .panel-body
  padding: 15px

#export .panel-body hr,
#exportAlt .panel-body hr
  margin-bottom: 0
  margin-top:   16px

#export .checkbox .form-group
  margin-bottom: 0

#exportFelderWaehlen input[type="radio"],
#exportAltFelderWaehlen input[type="radio"],
#exportFelderWaehlen input[type="checkbox"],
#exportAltFelderWaehlen input[type="checkbox"]
  margin-top:    1px !important
  margin-left: -19px !important

#exportExportCollapse button
  margin-bottom: 10px
  margin-right:   5px

#exportExportFormat
  margin-bottom: 5px

.well.formatCsv
  display: none

#exportExportCollapse .tooltip-inner
  max-width: 250px

#exportExportFilterkriterien li
  margin-left: -24px

#exportObjekteWaehlenDs .panel-body,
#exportFelderWaehlen .panel-body
  max-height: calc(100vh - 114px)
  overflow-y: scroll

#exportAltFelderWaehlen .panel-body
  max-height: calc(100vh - 140px)
  overflow-y: scroll




/*--------------------------------*\
    3. #FORMS
       #importieren
\*--------------------------------*/

// if two buttons follow each other, place them apart
.form-horizontal .btn-group button
  margin-right 0
.form-horizontal button
  margin-right: 8px
// but not an input-group-addon
.form-horizontal .input-group-addon button
  margin-right: 0
  border-top-left-radius: 0
  border-bottom-left-radius: 0

.progress
  margin-top: 10px

#importieren .progress
  margin-bottom: 6px

.panel-body .alert
  margin-bottom: 0

.alert ul
  padding-left: 18px

.alert li
  margin-top: 3px




/*--------------------------------*\
 *  4. TOOLS/QUERBEET
\*--------------------------------*/

/**
 * this is a general override
 * so don't do it inline
 **/
.btn-primary
  background-color: #414141 !important
  border-color: #222 !important

.btn-primary:hover
  background-color: #222 !important

